BODY {
	LINE-HEIGHT: 150%
}
PRE {
	LINE-HEIGHT: 100%
}
H1 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #003399; COLOR: white; FONT-SIZE: large
}
H2 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #9999cc; COLOR: black; FONT-SIZE: large
}
H3 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #99ff99; COLOR: black
}
H4 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #95ddde; COLOR: black
}
H5 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #cccccc; COLOR: black
}
H6 {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #ffd69e; COLOR: gray
}
IMG {
	BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff
}
.i {
	MARGIN-LEFT: 3em; MARGIN-RIGHT: 3em
}
.j {
	MARGIN-LEFT: 15em; MARGIN-RIGHT: 15em
}
